/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.custom-block.tip
  border-color #2b4459

span.site-name.can-hide
  display:none

.home .hero .action-button
  background-color #2b4459 !important